node_modules
app/node_modules
.meteor/local
app/.meteor/local
.git
.gitignore
README.md
doc/
config/
.deploy/
docker-compose.yml
Dockerfile
.dockerignore
build/
mongo_data/
osrmdata/
openmaptilesdata/
pgdataNominatimInternal/
